@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Katibeh&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Piedra&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Doodle+Shadow&family=Story+Script&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
/* Montserratمكتبه من قوقل فونت  */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --dark-blue:#252B42;
  --sky-blue:#23A6F0;
  --light-sky-blue:#b2e3ff;
  --light-orange:#E77C40;
  --red:#E74040;
  --light-pink:#FFDCD1;
  --light-gray:#737373;
  --yellow:#f3CD03;
  --green:#2DC071;
  --light-green:#B9EAA8;
}
.text-primary{
  color: var(--sky-blue);
  font-size: 14px;
  font-weight: 600;
}
.text-secondery{
  color: var(--green);
  font-weight: 600;
  font-size: 14px;
}
body{
  font-family: "Montserrat",serif;
  font-size: 16px;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
p {
  line-height: 1.4;
}
/* start header */
#header{
  background-color: var(--dark-blue);
  margin-top: 20px;
  border-radius: 20px;
 /* position: fixed; */
  /* z-index:999; */
  width: 100%;
  
}
#header img{
   width: 50px;
  border-radius: 50%;
  height: 50px;
  object-fit: cover;
  margin-right: 12px;
}
#header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width:1100px;
  /* background-color: red; */
  margin: auto;
  padding: 0 2rem;
  height: 100px;
  
  
}
.navbar a{
  color: #fff;
  
}
.navbar .logo{
  font-size: 24px;
  font-weight: 600;
}
.navbar ul{
  display: flex;
  
}
.navbar ul li a{
  margin: 0 10px;
  font-weight: 500;
  transition: all 0.3s ease;
}
.navbar ul li a:hover{
  color: var(--red);
}
.navbar .accuont .btn-join{
  background-color:var(--sky-blue);
  padding:10px 20px;
  margin-left: 25px;
  border-radius: 5px; 
}

.navbar .accuont .btn-join svg{/* الخاص ب الاايقونه */
  margin-left: 5px;
  font-size: 12px;
}

/* end header */

/*start main */
/* home start */
#home{
  /* background-color:red; */
  margin-top: 10px;
  background-color: var(--dark-blue);
  padding: 5rem 0;
  border-radius: 20px;
}
.continer{
  /* background-color: #b2e3ff; */
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
}
#home .home-header{
  text-align: center;
  color: #fff;
  max-width: 450px;
  margin: auto;
  /* background-color: #B9EAA8; */
}
#home .home-header span{
  color: var(--red);
  font-weight: 600;  
}
#home .home-header h1{
  font-size: 40px;
  font-weight: 600;
  margin: 20px 0;
  color: var(--light-pink);
}
#home .home-header p{
  margin-bottom: 30px;
  color: var(--light-pink);
  line-height: 1.6;
}
#home .home-header .btn{
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 500;
  border: 1px solid var(--red);
  margin: 0 5px;
}
#home .home-header .btn.btn-red{
  color: #fff;
  background-color: var(--red);
}
#home .home-header .btn.btn-transprent{
  background-color: transparent;
  color: var(--red);
}
#home .card-continer{
  margin-top:5rem;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  /* background-color: #b2e3ff; */
  gap: 20px;
}
#home .card-continer .card{
  margin:0 10px;
  background-color: #fff;
  padding: 25px;
  border-radius: 10px;
}
#home .card-continer .card .icon{
  padding: 12px;
  border-radius: 10px;
  display: inline-block;
}
#home .card-continer .card .icon svg{
  font-size: 25px;
}
#home .card-continer .card h2{
  font-size: 18px;
  color: var(--dark-blue);
  margin-top: 15px;
}
#home .card-continer .card .line{
  width: 50px;
  height: 2px;
  display: block;
  background-color: var(--red);
  margin: 15px 0;
}
/* home end */
/* courses start */
#courses{
  padding: 7rem 0;
}
.section-header h2{
  font-size: 35px;
  margin: 15px 0;
  color: var(--dark-blue);
}
 .section-header .text-primary{
  color:  var(--sky-blue);
  font-size: 14px;
  font-weight: 600;
}
.courses-continer{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  margin-top: 4rem;
}
.course img{
  width: 100%;
}
.course{
  position: relative;
}
.sale{
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 5px 8px;
  background-color: var(--red);
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  border-radius: 5px;
  
}
.sales{
  margin: 10px 0;
  font-weight: 600;
}
.price del{
  margin-right: 10px;
  font-weight: 600;
}
.course-info{
  display: flex;
  align-items: center;
  margin: 15px 0;
}
.course-info p {
  margin-right: 10px;
}
.course-info p svg {
  vertical-align: middle;
  font-size: 20px;
  color: var(--sky-blue);
  margin-right: 5px;
}
/* .btn-learn{
 padding: 12px 20px;
 border: 1px solid var(--sky-blue);
 color: var(--sky-blue);
 border-radius: 25px;
 font-weight: 500; 
} */

.content {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  color: var(--sky-blue);
  padding-top: 10px;
}
.rating{
  color: #fff;
  background-color: var(--dark-blue);
  border-radius: 20px;
  padding: 5px 10px;
}
.rating svg{
  color: var(--yellow);
}


/* courses end */
/* rivews start */
#rivews{
  padding-bottom: 7rem;
}
#rivews .ratings{
display: grid;
grid-template-columns: repeat(3,1fr);
gap: 12rem;
margin-top: 5rem;
}
#rivews .ratings .rating{
  background-color:#fff;
}
#rivews .ratings .rating img{
  width: 50px;
  border-radius: 50%;
  height: 50px;
  object-fit: cover;
  margin-right: 12px;
}
#rivews .ratings .rating .stars{
  color: var(--yellow);
  display: block;
  text-align: center;
  font-size: 20px;
}
#rivews .ratings .rating .description{
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  color: var(--light-gray);
}
#rivews .ratings .rating .person{
  display: flex;
  align-items: center;
  margin-top: 30px;
  font-weight: 500;
}
#rivews .ratings .rating .person h3{
  color:#252B42 ;

}
#rivews .ratings .rating .person p{
  color: #252B42;
  /* font-size: 20px; */
}
/* rivews end */
/* join-us  start*/
#join-us{
  background-color: var(--dark-blue);
  padding: 6rem 0;
}
#join-us .contentjoin{
  max-width: 600px;
  /* background-color: #E74040; */
  margin: auto;
  text-align: center;
  color: #fff;
}
#join-us .contentjoin h2{
  font-size:35px ;
   margin: 15px 0;

}
#join-us .contentjoin form{
  margin-top: 4rem;
  position: relative;
}
#join-us .contentjoin form input{
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  width: 100%;
}
#join-us .contentjoin form button{
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px;
  background-color: var(--sky-blue);
  color: #fff;
  border: none;
  border-top-right-radius:5px ;
  border-bottom-right-radius:5px ;
}


/* join-us  end*/
/* foooter start */
#footer{
  padding: 7rem;
}
#footer .footer-row{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 3rem;
  padding: 4rem;
}
#footer .footer-row  h2{
  margin-bottom:20px ;
  color: var(--dark-blue);    
}
#footer .footer-row p{
  color: var(--light-gray);  
   
}
#footer .footer-row .social{
  margin-top: 20px;
}
#footer .footer-row .social a{
  color: var(--sky-blue);
  margin-right: 10px;
}
#footer .footer-row ul li{
  margin: 10px 0;
  color: var(--light-gray);
  font-weight: 500;  
}
#footer .footer-row ul li a{
  color: var(--light-gray);
}
.copyright{
  text-align: center;
}
/* foooter end */
/* end main */
/* login start */
#login{
  /* background-color: var(--light-sky-blue); */
  /* height: 100vh; */
  width:50% ;
  margin: auto;
  text-align: center;
 padding-top: 10%;
}

#login form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
#login input{
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
/* #login button{
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
 #login button:hover{
   background-color: #45a049;
} */
 .iconsign{
  background-color: var(--light-sky-blue);
  text-align: left;
 }


/* login end */